.app-header-container {
  width: 100%;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.col-1 {
  display: flex;
}

.visitedPages {
  padding-left: 10px;
}

.col-2 {
}

.logout-button {
  margin-right: 20px;
}

.red-rectangle {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 137, 137);
}

.green-rectangle {
  width: 30px;
  height: 30px;
  background-color: rgb(115, 202, 64);
}

.blue-rectangle {
  width: 30px;
  height: 30px;
  background-color: rgb(59, 149, 253);
}
