.red-pp {
  background-color: rgba(255, 137, 137, 0.527) !important;
}

.green-pp {
  background-color: rgba(115, 202, 64, 0.527) !important;
}

.blue-pp {
  background-color: rgba(59, 149, 253, 0.527) !important;
}
